<div>
  <p> Enter the vin: <input type="text" ng-model="readingController.vin"></input> 
  <button type="button" class="btn btn-primary" ng-click="readingController.getReadingsOfAVehicle()">Submit</button> 
  </p>
</div>
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>vin</th>
      <th>fuelVolume</th>
      <th>speed</th>
      <th>engineHp</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reading in readingController.readings">
      <td>{{reading.vin}}</td>
      <td>{{reading.fuelVolume}}</td>
      <td>{{reading.speed}}</td>
      <td>{{reading.engineHp}}</td>
    </tr>
  </tbody>
</table> -->
<zingchart id="myChart" zc-json="myJson" zc-height=500 zc-width=600></zingchart>
